<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Inserir</title>

  <style>
  #tabela{
    width: 1000px;
  }
  </style>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>

  
  <nav class="navbar navbar-expand-lg bg-dark text-uppercase bg-dark static-top">
    <div class="container">
      <a class="navbar-brand" href="#" style="color:white">Achados e Perdidos</a>
      <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
      </div>
    </div>
  </nav>
  <div>
    
    <form method="POST" th:object="${}">
  <center><h1 class="mt-5">Cadastro de Objetos</h1>
  <p class="lead"></p><div class="form-group">
    <label class="col-md-2 control-label" for="Nome">Objeto</label>  
    <div class="col-md-2">
    <input class="form-control input-md" required="" type="text" maxlength="11" th:field="*{}">
    </div>
    <label class="col-md-1 control-label" for="Nome">Descrição</label>  
    <div class="col-md-2">
    <textarea class="form-control input-md" required="" type="text" onBlur="showhide()" th:field="*{}"></textarea>  
  </div>
  </div>
  <label class="col-md-1 control-label" for="Nome">Data</label>  
  <div class="col-md-2">
  <input class="form-control input-md" placeholder="" required="" type="date" maxlength="10" onBlur="showhide()" th:field="*{}"><br>
  <button type="button" class="btn btn-success">Cadastrar</button>  
  </div>
</p></center>
</form>
</div>
</div>
</div>
</div>

<center><table class="table" id="tabela">
  <thead class="thead-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Obejeto</th>
      <th scope="col">Descrição</th>
      <th scope="col">data</th>
      <th scope="col">Excluir</th>
      <th scope="col">Editar</th>
    </tr>
  </thead>
    <tbody>
      <tr th:each="p : ${impor}">
        <td th:text=${p.id}>1</td>
        <td th:text=${p.objeto}>Guarda-chuva</td>
        <td th:text="${p.descrição}">É de cor preta com bolinhas amarelas.</td>
        <td th:text="${p.data}">02/11/2019</td>
        <td><a th:href="@{/Delete/{id}(id=${p.id})}" class="btn btn-danger">Excluir</a></td>  
        <td><a th:href="@{/Editar/{id}(id=${p.id})}" class="btn btn-primary">Editar</a></td>
      </tr>
      </tbody></center>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.slim.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>
</html>
